$formalignment:center;
$formwidth:50%;
$leftpad:50px;

form {
    text-align:$alignment;
}

input {
    width:$formwidth;
}
.img {
    float:$formalignment;
}

.appbar {
    padding-left:$leftpad;
}
.main1 {
    padding-left: $leftpad;
}